@use "../../styles/partials/variables" as *;

.dress-up-widget {
  display: flex;
  // max-height: 500px;
}

.dress-up {
  background-color: darkgray;
  max-width: 30vw;
  // height: 65vh;
  display: flex;
  flex-direction: column;
  &__wrapper {
    display: flex;
  }
  &__title {
    margin: auto;
    background-color: aqua;
  }
  &__doll {
    margin: 1rem;
  }
}

.filter-category {
  display: flex;
  flex-direction: column;
  max-width: 10vw;
  background-color: darkgrey;
}

.filter-subcategory {
  background-color: lightgray;
}

.size-selection {
  display: flex;
  flex-direction: column;
}
