@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dress-up-widget {
  @include tablet {
    display: flex;
  }

  // max-height: 500px;
}

.button-true {
  display: flex;
  background-color: $green;
  border: 2.5px $white solid;
  &__text {
    // display: inline-block;
    // transform: rotate(-90deg);
    max-width: 8vw;
    // color: red;
  }
}

.button-false {
  display: none;
}

.filter-category {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // justify-content: center;
  // max-width: 10vw;
  background-color: $pink;
  width: 12vw;
  @include desktop {
    width: 10vw;
  }
}

.filter-subcategory {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // justify-content: center;
  background-color: $light-pink;
  width: 12vw;
  @include desktop {
    width: 10vw;
  }
}

.category-section {
  margin-bottom: 8px;
  &__title {
    @include section-title;
  }

  &__btn {
    @include default-button;
    margin: 5px auto;
    background-color: $orange;
    width: 5rem;
  }
}

.subcategory-section {
  margin-bottom: 8px;
  &__title {
    @include section-title;
  }

  &__btn {
    @include default-button;
    margin: 5px auto;
    background-color: $orange;
    width: 5rem;
  }
}

.color-section {
  margin-bottom: 8px;
  &__title {
    @include section-title;
  }
}

.color {
  margin: 0 3px;
  display: flex;
  /* overflow-wrap: revert-layer; */
  flex-wrap: wrap;
  &__button {
    border: none;
    outline: 2px $white solid;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 4px;
  }

  &__black {
    background-color: black;
  }

  &__white {
    background-color: white;
  }

  &__grey {
    background-color: grey;
  }

  &__red {
    background-color: red;
  }

  &__blue {
    background-color: blue;
  }

  &__yellow {
    background-color: yellow;
  }

  &__pink {
    background-color: hotpink;
  }

  &__green {
    background-color: green;
  }

  &__brown {
    background-color: maroon;
  }

  &__purple {
    background-color: purple;
  }

  &__orange {
    background-color: darkorange;
  }
}

.size-section {
  margin-bottom: 8px;
  &__title {
    @include section-title;
  }
  &__btn {
    margin: 3px;
    background: orange;
    border: 2px white solid;
    padding: 3px 6px;
    color: white;
  }
  // flex-direction: row;
  // overflow: wrap;
}

.price-section {
  margin-bottom: 8px;
  &__title {
    @include section-title;
  }

  &__btn {
    @include default-button;
    background-color: $orange;
    margin: 5px auto;
    background-color: $orange;
    width: 5rem;
    @include desktop {
      width: 5rem;
    }
  }
}
