//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//colors
$primary-brainflix-black: #323232; //primary text color
$primary-brainflix-blue: #0095ff; //primary CTA color
$primary-silver: #afafaf; //secondary text color + text label color
$primary-white: #ffffff; //bg color + CTA text color
$secondary-brainflix-darkBlack: #000000; //video player components
$secondary-brainflix-darkBlue: #0065ad; //CTA hover state color
$secondary-mercury: #e1e1e1; //divider line + form field outline
$secondary-alabaster: #fafafa; //form field bg color

$black: #001514;
$dark-pink: #c94277;
$dark-pink-alt: #ce5082;
$green: #c2d076;
$light-pink: #ffe1ea;
$pink: #ffbfb7;
$white: #fdf7fa;
$white-true: #ffffff;
$blue: #a8dcd9;
$orange: #f89225;
