@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

html {
  box-sizing: border-box;
  background-color: $white;
  color: $black;
}

body {
  font-family: "Dosis", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  &:visited,
  :hover,
  :focus,
  :active {
    text-decoration: none;
  }
}

// button {
//   font-family: "Dosis", sans-serif;
//   color: $white;
//   min-width: 60px;
//   padding: 8px 15px;
//   // text-align: center;
//   border: 2.5px $white solid;
//   border-radius: 50px;
//   background-color: $orange;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.side-by-side {
  @include tablet {
    height: 90vh;
    display: flex;
  }
}

/* Global scrollbar styles for the main page */

/* WebKit-based browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: #faece6;
}

body::-webkit-scrollbar-thumb {
  background-color: #f89225;
  border-radius: 10px;
  border: 3px solid #faece6; /* Makes the thumb smaller and creates some spacing */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #f89225;
}

/* WebKit-based browsers (Chrome, Safari) */
.app-container::-webkit-scrollbar {
  width: 12px;
}

.app-container::-webkit-scrollbar-track {
  background: #faece6;
}

.app-container::-webkit-scrollbar-thumb {
  background-color: #f89225;
  border-radius: 10px;
  border: 3px solid #faece6;
}

.app-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox scrollbar styles */
.app-container {
  scrollbar-width: thick;
  scrollbar-color: #f89225 #faece6;
}
