@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

html {
  box-sizing: border-box;
  background-color: $white;
  color: $black;
}

body {
  font-family: "Dosis", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  &:visited,
  :hover,
  :focus,
  :active {
    text-decoration: none;
  }
}

// button {
//   font-family: "Dosis", sans-serif;
//   color: $white;
//   min-width: 60px;
//   padding: 8px 15px;
//   // text-align: center;
//   border: 2.5px $white solid;
//   border-radius: 50px;
//   background-color: $orange;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.side-by-side {
  @include tablet {
    height: 115vh;
    display: flex;
  }
}
