@use "./styles/partials/variables" as *;

html {
  box-sizing: border-box;
  background-color: $white;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.side-by-side {
  display: flex;
  height: 80vh;
}
